@import "../imports.styl"

.well
  background-color          $color-white

  border                    1px solid $color-charcoal-9
  border-radius             10px

  min-height                20px
  margin-bottom             20px
  padding                   19px




  +at(1)
    // margin-left             -15px
    // margin-right            -15px
    border-radius           0
    border-left             none
    border-right            none

  // +from-width(3)
  //   margin-left             -10px
  //   margin-right            -10px
