

// PRIMARY COLOURS
//
$color-white                = #fff
$prospa-green               = $color-green-3
$prospa-charcoal            = $color-charcoal-3
$error-color                = #ce4844
$placeholder-color          = $color-charcoal-5


// color swatch styleguide 18
//
$color-charcoal-1   = #363E44
$color-charcoal-2   = #49555D
$color-charcoal-3   = #5B666D
$color-charcoal-4   = #6D777D
$color-charcoal-5   = #7F878D
$color-charcoal-6   = #91999D
$color-charcoal-7   = #A3A9AD
$color-charcoal-8   = #B5BBBD
$color-charcoal-9   = #DBDDDF
$color-charcoal-10  = #EDEEEF
$color-charcoal-11  = #F4F4F5
$color-charcoal-12  = #F9F9FB

$color-green-1      = #385018
$color-green-2      = #46671C
$color-green-3      = #557E21
$color-green-4      = #659725
$color-green-5      = #74AF29
$color-green-6      = #80C22E
$color-green-7      = #95CF42
$color-green-8      = #A7D762
$color-green-9      = #B9DE87
$color-green-10     = #CEE6AF
$color-green-11     = #D9E9C3
$color-green-12     = #E4EDD8