// https://github.com/jenius/rupture

rupture.scale           = 0        600px       960px      1280px       1920px

//                        └────┬────┘ └────┬────┘ └────┬────┘ └────┬────┘ └────┬────┘
// Slice numbers:              1           2           3           4           5
rupture.scale-names     =     'xs'        'sm'        'md'        'lg'        'xl'


rupture.mobile-cutoff   = rupture.scale[1]
rupture.desktop-cutoff  = rupture.scale[4]


