@import "../imports.styl"

// Text styles based on StyleGuid V18
//

h1 // main title
  font-size         3.375em
  font-weight       $font-weight-light
  color             $color-charcoal-3
  margin            0
  line-height       inherit
  margin-bottom     38px

h2 // sub title
  font-size         2.375em
  font-weight       $font-weight-light
  color             $color-charcoal-3
  margin            0
  line-height       inherit
  margin-bottom     16px

h3 // section title
  font-size         1.5em
  font-weight       $font-weight-light
  color             $color-charcoal-3
  margin            0
  line-height       inherit
  margin-bottom     17px

h4 // sub-section title
  font-size         1.125em
  font-weight       $font-weight-regular
  +retina()
    font-weight       $font-weight-light
  color             $color-charcoal-3
  margin            0
  line-height       inherit
  margin-bottom     10px

p, label // paragraph
  font-size         1em
  font-weight       $font-weight-regular
  +retina()
    font-weight       $font-weight-light
  line-height       inherit

strong
  font-weight       $font-weight-semibold
  line-height       inherit

em
  font-style        italic
  font-weight       $font-weight-regular
  +retina()
    font-weight       $font-weight-light
  line-height       inherit

li
  font-size         1em
  font-weight       $font-weight-regular
  +retina()
    font-weight       $font-weight-light
  line-height       inherit

quote
  font-size         1em
  font-weight       $font-weight-regular
  +retina()
    font-weight       $font-weight-light
  line-height       inherit

.small-p
  font-size          0.875em
  font-weight       $font-weight-regular
  +retina()
    font-weight       $font-weight-light

a
  color             $color-charcoal-4
  &:hover, &:focus
    color             $color-charcoal-4
    text-decoration   none

.font-16
  font-size           16px
.font-14
  font-size           14px




// text utils

.text-left
  text-align          left

.text-center
  text-align          center

.text-right
  text-align          right