.modal(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header(ng-show='title')
        button.close(type='button', aria-label='Close', ng-click='$hide()')
          span(aria-hidden='true') ×
        h4.modal-title(ng-bind='title')
      .modal-body(ng-bind='content')
      .modal-footer
        button.btn.btn-primary(type='button', ng-click='$hide()') Close
