div.dashboard(layout="column" flex="flex")
  div.pp-tab-header
    div.container

      ul.pp-tabs.nav.nav-tabs
        li(ng-class="vm.setCurrentTab('private.dashboard.open')")
          a(ui-sref="private.dashboard.open") Open invoices
          //- a(ui-sref="private.dashboard.open" ui-sref-opts="{reload:true}") Open invoices
        li(ng-class="vm.setCurrentTab('private.dashboard.activated')")
          a(ui-sref="private.dashboard.activated") Activated invoices
          //- a(ui-sref="private.dashboard.activated" ui-sref-opts="{reload:true}") Activated invoices

  div.pp-tab-content(flex)
    div.container
      div(ui-view="content")

//- div
//-   button(type="button" class="btn btn-lg btn-primary" data-animation="am-fade-and-scale" data-placement="center" data-template-url="app/components/modals/test1.html"  bs-modal="modal") Click to toggle modal

