@import "../../../styles/imports.styl"

.dashboard-open-activated

  h2
    margin-left                 10px
  .search
    .form-group
      .form-control
        width                   230px
        padding-left             40px

      .icon
        margin-top            -7px
        svg-container( 14px, 14px, $color-charcoal-4  )
