svg-container( height = 25px, width = 25px, fill-color = '', stroke-color = '' )

  height              height
  width               width
  if fill-color
    fill                  fill-color
  if stroke-color
    stroke                stroke-color

  use
    if fill-color
      fill                  fill-color
    if stroke-color
      stroke                stroke-color